*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-segunda-pagina{
    background-color: #283db1;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

.body-index {
    background-color: #283db1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('C:/Users/aluno.den/Pictures/download.jpg');
}

